node_modules/

.env*
!.env.example
!**/.env.example

dist/
build/

.next/
.vite/
.parcel-cache/
.turbo/

.pnpm-store/

*.tsbuildinfo

.eslintcache
.stylelintcache

coverage/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/