APP_ENV=local
APP_PORT=8080
APP_NAME=wikilive-backend

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=livedocs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable

MWS_BASE_URL=
MWS_API_TOKEN=

JWT_SECRET=change_me
INTERNAL_SERVICE_TOKEN=change_me

LOG_LEVEL=debug